@import "tailwindcss";

@layer base {
  :root {
    --primary-dark: #1a202c;
    --secondary-dark: #2d3748;
    --accent-blue: #4299e1;
    --text-light: #edf2f7;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--primary-dark); */
  color: var(--text-light);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* background: var(--secondary-dark); */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--accent-blue), white 15%);
}